.venv/
.env
.env.*
!.env.example

# Ignore JetBrains / IntelliJ IDEA project files
.idea/
*.iml

# Ignore HTTP request scratch file
test_main.http

# (Optional) Common Python artifacts
__pycache__/
*.pyc

# (Optional) OS junk
.DS_Store

# Ignore Google Credentials
credentials.json
token.json